meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="stylesheet", href="/css/app.css")
link(rel="stylesheet", href="/css/normalize.css")
script(src='https://kit.fontawesome.com/621af866d9.js', crossorigin='anonymous')
if nombrePagina
    title UpTask - Node MVC - #{nombrePagina}
else
    title UpTask - Node MVC - Proyecto sobre Express, MYSQL y PUG