extends loginLayout
block contenido
    h1 Blanquear contrase침a

    if mensajes
        .alertas
            each categoria in Object.keys(mensajes)
                each mensaje in mensajes[categoria]
                    .alerta(class=`${categoria}`)
                        p= mensaje
    
    form#formulario.caja.caja-login(method="POST")
        .campo
            label(for="password") Contrase침a: 
            input(type="password" name="password" placeholder="Ingrese nueva contrase침a...")
        .campo.enviar
            input.boton(type="submit" value="Resetear")
        .campo.acciones
            a(href="/iniciar-sesion") Volver a inicio de sesi칩n de cuenta