<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Activar cuenta en UpTask
        p Ya casi estás listo para poder comenzar a trabajar con UpTask
        p Unicamente tiene que hacer click en el siguiente enlace para completar el ingreso
        a(href=confirmarUrl) Activar cuenta en uptask
        p Si no podés seguir el enlace, ingresa al siguiente enlace en tu navegador #{confirmarUrl}
        p Si no creaste una cuenta en UpTask desestima este mensaje